doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href='/stylesheets/bootstrap.min.css' integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  body

    block content

    block script
      script(src='/javascripts/jquery-3.2.1.slim.min.js' integrity="" crossorigin="anonymous")
      script(src='/javascripts/popper.min.js' integrity="" crossorigin="anonymous")
      script(src='/javascripts/bootstrap.min.js' integrity="" crossorigin="anonymous")
